@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "discount-pro-theme";
  default: false; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* Light Theme */
  --color-base-100: #f9fafb;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;
  --color-base-content: #0d1e4c;
  --color-primary: #0d1e4c;
  --color-primary-content: #f9fafb;
  --color-secondary: #c48cb3;
  --color-secondary-content: #f9fafb;
  --color-accent: #e5c9d7;
  --color-accent-content: #0d1e4c;
  --color-neutral: #83a6ce;
  --color-neutral-content: #0d1e4c;
  --color-info: #83a6ce;
  --color-info-content: #f9fafb;
  --color-success: #22c55e;
  --color-success-content: #f9fafb;
  --color-warning: #eab308;
  --color-warning-content: #0d1e4c;
  --color-error: #dc2626;
  --color-error-content: #f9fafb;

  /* Dark Theme */
  --color-base-100: #0b1b32;
  --color-base-200: #0d1e4c;
  --color-base-300: #26415e;
  --color-base-content: #e5c9d7;
  --color-primary: #c48cb3;
  --color-primary-content: #0b1b32;
  --color-secondary: #83a6ce;
  --color-secondary-content: #0b1b32;
  --color-accent: #e5c9d7;
  --color-accent-content: #0b1b32;
  --color-neutral: #26415e;
  --color-neutral-content: #e5c9d7;
  --color-info: #83a6ce;
  --color-info-content: #0b1b32;
  --color-success: #22c55e;
  --color-success-content: #0b1b32;
  --color-warning: #eab308;
  --color-warning-content: #0b1b32;
  --color-error: #dc2626;
  --color-error-content: #0b1b32;

  /* Border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Border size */
  --border: 1px;

  /* Effects */
  --depth: 1;
  --noise: 0;
}

@layer components {
  .active {
    background-color: var(--color-primary);
  }
}

.section {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
